%li
  .item-header
    %span.label{:class => css_class_for_http_status(request_row.http_status)}= request_row.http_status
    %span.show-body.response-title= request_row.path
    %span.right
      = request_row.requested_at.strftime("%H:%M:%S") unless request_row.requested_at.nil?
      %a.icon-refresh.put{:href => "/resend/#{request_row.id}"}
      %a.icon-trash.delete{:href => "/response/#{request_row.id}"}
  %pre.response-body.pre-scrollable
    = h request_row.body
