%li
  .item-header
    - if request_row.forwards?
      %span
    - else
      %a.label{:class => (css_class_for_http_status(request_row.http_status) unless request_row.paused), :rel => "tooltip", "data-placement" => "right", :title => http_status_name(request_row.http_status)}
        = request_row.http_status
    %span.show-body.response-title{:class => ("pointer" if request_row.has_body?) }
      %span.path{:class => ("paused" if request_row.paused)}
        = request_row.path
        - if request_row.forwards_to_url?
          %i.icon-forward
          = request_row.forward
        - elsif request_row.forwards_to_file?
          %i.icon-file
          = request_row.file
      %span.label= request_row.tag
      - if request_row.repeats?
        %a.label{:class => ("label-info" unless request_row.paused), :rel => "tooltip", "data-placement" => "top", :title => "Repeat #{repeat_description(request_row.repeat_counter)}"}
          %i.icon-refresh.icon-white
          - if request_row.repeat_counter > 1
            = "#{request_row.repeat_counter}"
      -if request_row.delay > 0
        %a.label{:class => ("label-info" unless request_row.paused), :rel => "tooltip", "data-placement" => "top", :title => "#{request_row.delay} seconds delayed"}
          %i.icon-time.icon-white
          = "#{request_row.delay}s"
    %span
      = request_row.requested_at.strftime("%H:%M:%S") unless request_row.requested_at.nil?
      - if actions.include? :pause
        - if request_row.paused
          %a.put{:href => "/a-machine/#{request_row.id}/play", :rel => "tooltip", "data-placement" => "top", :title => "Send again"}<
            %i.icon-play
        - else
          %a.put{:href => "/a-machine/#{request_row.id}/pause", :rel => "tooltip", "data-placement" => "top", :title => "Pause sending"}<
            %i.icon-pause
      - if actions.include? :resend
        %a.put{:href => "/a-machine/#{request_row.id}/resend", :rel => "tooltip", "data-placement" => "top", :title => "Resend"}<
          %i.icon-repeat
      - if actions.include? :edit
        %a{:href => "/a-machine/#{request_row.id}/edit", :rel => "tooltip", "data-placement" => "top", :title => "Edit"}<
          %i.icon-pencil
      - if actions.include? :delete
        %a.delete{:href => "/a-machine/#{request_row.id}", :rel => "tooltip", "data-placement" => "top", :title => "Delete"}<
          %i.icon-trash
  - if request_row.has_body? || !request_row.headers.empty?
    .response-body
      - unless request_row.headers.empty?
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Header
              %th Value
          %tbody
            - request_row.headers.each do |header|
              %tr
                %td= header[0]
                %td= header[1]
      %pre.highlight= h request_row.body
