<!DOCTYPE HTML>
<html>
  <head>
    <title>Mock Server</title>
    
    <style type="text/css">
       label {
         display: inline-block;
         width: 8em;
       }
       li {
         margin-bottom: 1em;
       }
    </style>
  </head>
  <body>
    <h1>Add response</h1>
    <form method="post" action="/add">
      <label for="path">Request</label>
      <select name="path" id="path">
        <% @requests.each do |request| %>
          <%= "<option value=\"#{request}\">#{request}</option>" %>
        <% end%>
      </select>
      <br />
      
      <label for="http_status">Status</label>
      <select name="http_status" id="http_status">
        <% [200, 400, 500].each do |status| %>
          <%= "<option value=\"#{status}\">#{status}</option>" %>
        <% end %>
      </select>
      <br />
      
      <label for="body">Response</label>
      <textarea rows="4" cols="50" name="body" id="body"></textarea>
      <br />
      
      <label for="resend_counter">Resend</label>
      <select name="resend_counter" id="resend_counter">
        <option value="0">No</option>
        <option value="-1">Infinite</option>
        <% 1.upto(10) do |i| %>
          <%= "<option value=\"#{i}\">#{i} times</option>" %>
        <% end %>
      </select>
      <br />

      <label for="submit"></label>
      <input type="submit" name="submit" id="submit" value="Add" />
    </form>


    <h1>Scheduled</h1>
    <ul>
      <%= partial :item, :collection => @scheduled_responses %>
    </ul>
    
    
    <h1>Sent</h1>
    <ul>
      <%= partial :item, :collection => @sent_responses %>
    </ul>
  </body>
</html>